@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  background-color: aliceblue;
  font-family: "Manrope", sans-serif;
}
h1 {
  font-weight: 200;
  font-size: 26px;
  margin-bottom: 10px;
}
h2 {
  font-size: 36px;
  font-weight: 800;
  color: #4daff9;
  position: relative;
  top: 4px;
}
h3 {
  color: #4daff9;
  font-size: 20px;
  font-weight: 600;
}
h4 {
  font-weight: 800;
}
hr {
  margin: 10px 0px 3px 0px;
}
.body-box {
  background-color: white;
  width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 60px;
}
.search-button {
  padding: 6px 12px;
  background-color: white;
  border: solid 1px #4daff9;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #4daff9;
  color: white;
}
.current-location-button {
  position: relative;
  left: 8px;
  background-color: #4daff9;
  color: white;
  line-height: 24px;
  font-size: 15px;
  width: 140px;
  transition: all 150ms ease-in-out;
}
.current-location-button:hover {
  background: #d2ebff;
  border-color: #4daff9;
  color: #606060;
}
.city-result {
  margin-top: 50px;
}
.weather-icon {
  position: relative;
  top: -26px;
  right: 24px;
}
.temp-wind {
  position: relative;
  top: 6px;
}
.only-temp {
  font-size: 36px;
  position: relative;
  left: -2px;
  line-height: 44px;
}
.current-temperature {
  position: relative;
  left: -13px;
}
.celsius-temperature {
  text-decoration: none;
}
.fahrenheit-temperature {
  text-decoration: none;
}
.units .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.condition-and-wind {
  font-size: 13px;
}
.date-time {
  font-size: 12px;
  color: gray;
  text-align: right;
  position: relative;
  top: 8px;
}
.next-days {
  border: solid 2px aliceblue;
  border-radius: 4px;
  padding: 20px 5px;
  margin: 10px 0px;
  text-align: center;
  color: gray;
  transition: all 150ms ease-in-out;
}
.next-days:hover {
  background-color: aliceblue;
  color: #606060;
}
.next-days-weather-icon {
  padding: 20px 0;
}
.code-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
